@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgb(14, 14, 23);
    font-family: 'Courier New', Courier, monospace;
}

header {
    color: rgba(240, 248, 255, 0.459);
    font-size: 10px;
    width: 350px;
    margin: auto;
    text-align: center;
    margin-top: 30px;
    padding: 10px;
}

main {
    background-color: rgba(114, 114, 114, 0.327);
    width: 350px;
    margin: auto;
    color: white;
}

#password {
    background-color: rgba(114, 114, 114, 0.327);
    font-size: 1em;
}

section {
    border-bottom: 18px solid rgb(14, 14, 23);
    margin: 5px 0px 30px 0px;
    color: rgb(85, 85, 85);
    font-size: 2em;
    text-indent: 15px;
}

#tam {
    width: 300px;
    margin: auto;
    margin-bottom: 10px;
    font-size: 0.8em;
    color: rgba(255, 255, 255, 0.652);
}

#ivalor { 
    margin-left: 140px;
    font-size: 1.5em;
    color: rgba(127, 255, 212, 0.661);
}

#itamanho {
    -webkit-appearance: none;
    width: 300px;
    margin-left: 25px;
    cursor: pointer;
    accent-color: rgb(216, 216, 216);
    background-color: rgb(14, 14, 23);
    height: 5px;
    border-radius: 2px;    
}

#itamanho:hover {
    background-color: green;
}


#opcoes {
    margin-top: 20px;
    margin-left: 55px;
    width: 300px;
    height: 140px;
    font-size: 0.8em;
}

.container {
    font-size: 1.2em;
}

.container input {
    display: none;
    cursor: pointer;
}

.container span {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: rgb(10, 10, 10);
    border: 1px solid white;
    margin-left: -200px;
    cursor: pointer;
}

.container > .upper {
    margin-left: -256px;
}

.container > .lower {
    margin-left: -265px;
}

.container > .numb {
    margin-left: -237px;
}

.container > .symb {
    margin-left: -246px;
}

.container input:checked + span {
    background-color: rgb(95, 192, 30);
}

#fc {
    display: flex;
    width: 300px;
    height: 80px;
    margin-left: 27px;
    background-color: rgba(3, 3, 3, 0.423);
    border: 1px solid rgb(31, 30, 30);    
}

#forca {
    margin: auto;
    width: 70px;
    height: 15px;
    margin-top: 30px;
    font-size: 0.5em;
    color: rgba(255, 255, 255, 0.486);
    text-align: center;
}

#força1 {
    -webkit-appearance: none;
    width: 8px;
    height: 40px;
    margin-top: 15px;
    margin-left: -30px;
    border: 2px solid white;   
}

#força2 {
    -webkit-appearance: none;
    width: 8px;
    height: 40px;
    margin-top: 15px;
    border: 2px solid white;
}

#força3 {
    -webkit-appearance: none;
    width: 8px;
    height: 40px;
    margin-top: 15px;
    border: 2px solid white;
}

#força4 {
    -webkit-appearance: none;
    width: 8px;
    height: 40px;
    margin-top: 15px;
    border: 2px solid white;
    margin-right: 15px;
}

#inivel {
    height: 20px;
    width: 65px;
    background-color: rgba(30, 29, 29, 0.423);
    border: none;
    text-align: center;
    translate: -50% -50%;
    margin-left: 40px;
}

#generate {
    width: 300px;
    margin: 25px;
    padding: 10px 0px 10px 0px;
    font-size: 0.7em;
    background-color: rgba(53, 51, 51, 0.423);
    color: white;
    border: 1px solid rgb(110, 253, 1);
}

#generate:hover {
    background-color: green;
    color: black;
    font-size: 1em;
    cursor: pointer;
    font-style: italic;
    font: bolder;
}



